<p-table [value]="clientes" selectionMode="single" [(selection)]="clienteSeleccionado"
         (onRowSelect)="cargarDatos()">
  <ng-template pTemplate="header">
    <tr>
      <th>Nombres</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
      <th>Fecha Nacimiento</th>
      <th>Sexo</th>
      <th>Dirección</th>
      <th>Correo</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-cliente>
    <tr [pSelectableRow]="cliente">
      <td>{{cliente.nombres}}</td>
      <td>{{cliente.apellidoPaterno}}</td>
      <td>{{cliente.apellidoMaterno}}</td>
      <td>{{cliente.fechaNacimiento}}</td>
      <td>{{cliente.sexo}}</td>
      <td>{{cliente.direccion}}</td>
      <td>{{cliente.correoElectronico}}</td>
    </tr>
  </ng-template>
</p-table>
